:root {
  --background: rgb(245, 245, 250);
  --secondary-background: rgb(161, 160, 165);
  --text-primary: #000000;
  --text-secondary: rgb(24, 3, 56);
  --accent: rgb(91, 105, 214);
}

[data-theme='dark'] {
  --background: rgb(17, 17, 22);
  --secondary-background: rgb(39, 36, 49);
  --text-primary: #61dafb;
  --text-light: rgb(97, 218, 251, 0.5);
  --text-secondary: #CE9FFF;
  --accent: rgb(200, 7, 200);
  --accent-faded: rgb(200, 7, 200, 0.5);
  --faded: #c4f0fd;
  --subtle: rgb(36, 43, 48);
}

.App {
  text-align: center;
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active, a:visited {
  color: var(--text-primary);
}

img {
  display: block;
}

button {
  outline: none;
  border-radius: 8px;
  border: none;
  padding: 5px;
  margin: 5px;
}

button:hover {
  cursor: pointer;
}

input {
  background-color: var(--secondary-background);
  outline: none;
  border: none;
  border-radius: 12px;
  color: var(--text-primary);
}

input::placeholder {
  color: var(--faded);
}

.fade {
  opacity: 0.5;
  pointer-events: none;
}

.stop-scrolling {
  height: calc(100vh - 80px);
  overflow: hidden;
}

.editBackground, .editProfileBackground {
  background-color: var(--accent-faded);
  border-radius: 8px;
}

/* HEADER */

#header {
  background-color: var(--background);
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: .5px solid var(--subtle);
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: calc(100vw - 20px);
}

#logo, .navBarIcons {
  width: 30px;
  height: 30px;
  margin: auto;
}

#logo {
  margin-right: 20px;
}

#headerEditBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

#searchBar {
  width: 40vw;
  padding: 5px;
}

#searchBar::placeholder {
  color: var(--faded);
}

/* HEADER POP UPS */

#notificationsPopUp, #accountPopUp {
  background-color: var(--secondary-background);
  color: var(--text-primary);
  width: 150px;
  position: absolute;
  z-index: 2;
  top: 51px;
  left: -55px;
}

#logOutBtn:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

.pad {
  padding: 5px;
}

/* HOME PAGE */
#content, #followers {
  padding-top: 80px;
}

#content {
  width: min-content;
  background-color: var(--background);
}

#homePosts {
  margin-top: 20px;
}

#newPostButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  border-radius: 12px;
  background-color: var(--secondary-background);
  height: min-content;
  padding: 5px;
  width: 490px;
  margin-bottom: 50px;
}

.imgBackground {
  background-color: var(--text-secondary);
  border-radius: 12px;
  margin: 5px;
  width: calc((280px/7));
  padding: 10px;
}

.postImg {
  width: 500px;
  height: auto;
}

/* NEW POST FORM */
#newPostPopUp {
  position: absolute;
  height: 400px;
  border-radius: 12px;
  background-color: var(--secondary-background);
  color: var(--text-primary);
  margin-left: auto; 
  margin-right: auto;
  top: 100px;
  left: 0;
  right: 0;
  width: 500px;
  z-index: 2;
}

#title, #body {
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: var(--secondary-background);
  color: var(--text-primary);
  display: block;
  margin: 30px;
}

#title::placeholder, #body::placeholder {
  color: var(--faded);
}

#title {
  font-size: 2em;
}

#body {
  font-size: 1.4em;
}

#newPostUserImg {
  height: 85px;
  width: 85px;
  position: absolute;
  left: -110px;
  border-radius: 12px;
}

#mainProfileImg, .userProfile {
  border-radius: 12px;
  margin-right: 20px;
}

#mainProfileImg {
  height: 100px;
  width: 100px;
  margin-left: 100px;
}

.userProfile {
  height: 85px;
  width: 85px;
  position: sticky;
  top: 64px;
  margin-top: 15px;
  margin-left: 115px;
}

.newPostImg {
  width: 80%;
  margin: 5px;
}

#posts {
  color: var(--text-primary);
  text-align: center;
}

.post {
  width: 500px;
  margin-top: 15px;
}

.post, .postHeader {
  background-color: var(--secondary-background);
  border-radius: 12px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid var(--subtle);
}

.postTitle {
  font-size: 2em;
  font-weight: bold;
}

.postBody {
  font-size: 1.5em;
}

.postAuthor {
  font-weight: bold;
  padding: 5px;
}

#inboxContent {
  padding: 100px;
}

.postIconsContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  border-top: .5px solid var(--text-primary);
  padding-top: 20px;
}

.postIcons, .liked, .like {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.postIcons:hover, .liked:hover, .like:hover, #logo:hover, .navBarIcons:hover, #headerNewPostIcon:hover {
  cursor: pointer;
}

.postIcons:hover + .postIconInfo, .like:hover + .postIconInfo, .liked:hover + .postIconInfo {
  display: block;
}

.postIconInfo {
  position: absolute;
  display: none;
}

.followBtn {
  border-radius: 8px;
  background-color: var(--accent);
  color: white;
  border-style: none;
  height: min-content;
  padding: 4px;
}

.followBtn:hover {
  background-color: var(--background);
  color: var(--accent);
}

/* FOLLOWERS PAGE */

#followers {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.followerProfile {
  height: 85px;
  width: 85px;
  border-radius: 12px;
}

/* PROFILE SETTINGS PAGE */

#editProfileContainer {
  width: 60vw;
  position: relative;
  background-color: var(--secondary-background);
  border-radius: 12px;
  margin: 20px 5vw 50px 5vw;
  padding-bottom: 50px;
}

.editProfileIcon {
  height: 20px;
  width: 20px;
}

.editProfileBackground {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userProfileImg {
  border-radius: 24px;
  width: 100px;
  height: 100px;
}

.cover {
  object-fit: cover;
}

.editProfile {
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
  text-align: center;
}

#displayDescription {
  width: 400px;
  margin: auto;
}

.btnContainer {
  position: absolute;
  right: 20px;
  top: 20px;
}

#editBtn, #cancelBtn {
  color: var(--text-primary);
  background-color: var(--background);
}

#saveBtn {
  color: white;
  background-color: var(--accent);
}

#saveBtn:hover {
  color: white;
  background-color: var(--accent-faded);
}

#saveBtn:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 0.8;
  cursor: default;
}

#editBtn:hover, #cancelBtn:hover {
  background-color: var(--text-primary);
  color: var(--background);
}

#profileTitle, #titleInput {
  font-weight: bold;
  font-size: 200%;
}

/* SETTINGS NAVBAR */

#settingsNavBar {
  padding: 0 20px 20px 20px;
  margin: 20px auto 0 auto;
}

.navBarComponent {
  padding: 10px;
  border-bottom: 0.2px solid var(--subtle);
}

.navBarComponent:hover, .accountPopUpItem:hover {
  background-color: var(--subtle);
}

.currentLink {
  background-color: var(--subtle);
}

/* NEW BLOGS NAVBAR */

#homeNewBlogs {
  margin-right: 50px;
}

.newBlogsContainer {
  color: var(--accent);
  text-align: left;
  margin: 10px 0 40px 40px;
}

.newBlogsTitle {
  color: var(--text-primary);
  border-bottom: .5px solid var(--text-primary);
  font-weight: bold;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#randomBlogsContent {
  min-width: 400px;
}

.blogContainer {
  padding: 10px 0 10px 0;
  color: var(--text-primary);
  width: 90%;
  margin: auto;
}

.randomBlogPic {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-right: 10px;
}

.blogUserName {
  font-weight: bold;
}

.blogTitle {
  color: var(--text-light);
}

.followBtn, #refreshBtn {
  background-color: var(--accent);
  color: white;
}

.followBtn:hover, #refreshBtn:hover {
  background-color: var(--accent-faded);
  color: white;
}

.close {
  padding-left: 10px
}

.radarPost {
  width: 80%;
  padding: 0 10px 10px 10px;
  margin-top: 15px;
  border-radius: 12px;
  background-color: var(--secondary-background);
}

.radarProfile {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-top: 15px;
}

.radarImg {
  width: 100%;
  height: auto;
}

.radarTitle {
  font-weight: bold;
  font-size: 1.1em;
}

.radarBody {
  font-size: .8em;
}
